In [1]:
import yfinance as yf

In [2]:
aapl= yf.Ticker("aapl")
aapl

yfinance.Ticker object <AAPL>

In [3]:
aapl_historical = aapl.history(start="2023-01-01", end="2023-12-31", interval="3mo")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-01 00:00:00-05:00,129.066081,163.462569,123.013012,163.363495,4271118000,0.23,0.0
2023-04-01 00:00:00-04:00,162.987868,192.962069,158.532907,192.456055,3541966300,0.24,0.0
2023-07-01 00:00:00-04:00,192.533463,196.954834,166.541740,170.108658,3656092400,0.24,0.0
2023-10-01 00:00:00-04:00,170.348313,198.603721,164.826565,191.549820,3335080500,0.24,0.0