In [1]:
import yfinance as yf

In [2]:
aapl= yf.Ticker("aapl")
aapl

yfinance.Ticker object <AAPL>

In [4]:
aapl_historical = aapl.history(start="2024-01-01", end="2024-01-31", interval="1d")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-02 00:00:00-05:00,186.442503,187.727635,183.194833,184.938217,82488700,0.0,0.0
2024-01-03 00:00:00-05:00,183.523597,185.177325,182.736575,183.553482,58414500,0.0,0.0
2024-01-04 00:00:00-05:00,181.461404,182.397852,180.196216,181.222321,71983600,0.0,0.0
2024-01-05 00:00:00-05:00,181.302037,182.069116,179.488910,180.495087,62303300,0.0,0.0
2024-01-08 00:00:00-05:00,181.401637,184.898378,180.813871,184.858521,59144500,0.0,0.0
2024-01-09 00:00:00-05:00,183.224720,184.450066,182.039216,184.440109,42841800,0.0,0.0
2024-01-10 00:00:00-05:00,183.653089,185.695327,183.224707,185.486130,46792900,0.0,0.0
2024-01-11 00:00:00-05:00,185.834818,186.342900,182.925858,184.888412,49128400,0.0,0.0
2024-01-12 00:00:00-05:00,185.356633,186.034071,184.489927,185.217163,40444700,0.0,0.0
2024-01-16 00:00:00-05:00,181.471377,183.563430,180.246016,182.935822,65603000,0.0,0.0
2024-01-17 00:00:00-05:00,180.584752,182.238465,179.618418,181.989410,47317400,0.0,0.0
2024-01-18 00:00:00-05:00,185.386525,188.424998,185.127513,187.916931,78005800,0.0,0.0
2024-01-19 00:00:00-05:00,188.614280,191.224371,188.106214,190.835846,68741000,0.0,0.0
2024-01-22 00:00:00-05:00,191.573043,194.591587,191.533185,193.157028,60133900,0.0,0.0
2024-01-23 00:00:00-05:00,194.282770,195.010006,193.097266,194.442154,42355600,0.0,0.0
2024-01-24 00:00:00-05:00,194.681245,195.637623,193.605326,193.764725,53631300,0.0,0.0
2024-01-25 00:00:00-05:00,194.482008,195.528042,192.379984,193.435974,54822100,0.0,0.0
2024-01-26 00:00:00-05:00,193.535594,194.023731,191.214400,191.692581,44594000,0.0,0.0
2024-01-29 00:00:00-05:00,191.284144,191.473428,188.863337,191.005203,47145600,0.0,0.0
2024-01-30 00:00:00-05:00,190.218178,191.074928,186.761295,187.329132,55859400,0.0,0.0